<!-- <h2>Edit User</h2>
<form [formGroup]="userForm" (ngSubmit)="saveChanges()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <div class="modal-actions">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
</form> -->
