<div class="design">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">LOGIN</h5>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Type your email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide" placeholder="Type your password" formControlName="password">
          <span mat-icon-button matSuffix (click)="hideShow()" class="cursor_pointer">
            <mat-icon>{{hidePasTex ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </mat-form-field>

        <p class="forgot-password">Forgot Password?</p>
        <button type="submit" mat-raised-button class="login-button">Login</button>
      </form>

      <p class="orSignUpSe">Or Sign Up Using</p>
      <button mat-flat-button class="orSignUpButtonLog" (click)="signUP()">SIGN UP</button>

    </div>
  </div>
</div>
