<div class="design">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">SIGNUP</h5>
      <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="submitForm()">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <!-- <mat-icon matPrefix>account_circle</mat-icon> -->
          <input matInput placeholder="Type your name" formControlName="name" required>
          <mat-error *ngIf="signUpForm.controls.name.touched && signUpForm.controls.name.invalid ">
            <span *ngIf="signUpForm.controls.name.errors.required">User name is mandatory</span>
            <span *ngIf="signUpForm.controls.name.errors.pattern">This field is invalid</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <!-- <mat-icon matPrefix>account_circle</mat-icon> -->
          <input matInput placeholder="Type your email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contact Number</mat-label>
          <!-- <mat-icon matPrefix>account_circle</mat-icon> -->
          <input matInput placeholder="Type your contact number" formControlName="contactNumber">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <!-- <mat-icon matPrefix>lock</mat-icon> -->
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Type your password"
            formControlName="password">
          <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </mat-form-field>

        <button mat-raised-button class="login-button"
          [disabled]="!(signUpForm.valid && signUpForm.dirty)">Signup</button>
      </form>
      <p class="orSignUp">Or Sign Up Using</p>
      <span class="fatwgoIcon">
        <i class="fab fa-facebook"></i> &nbsp;
        <i class="fab fa-twitter"></i>&nbsp;
        <i class="fab fa-google"></i>
      </span>
      <!-- <mat-dialog-actions></mat-dialog-actions> -->
    </div>
  </div>
</div>
